@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,300&family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.6px;
}

li {
  list-style: none;
}
li a {
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 2000px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 178, 160, 0.5254901961);
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(1, 53, 62, 0.4235294118);
}

.header {
  width: 100%;
  height: 100px;
  max-width: 2000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 18%;
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  z-index: 99;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5843137255), 40%, rgba(255, 255, 255, 0));
}
.header a {
  left: 0.5%;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
.header a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #00B2A0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header .header-links {
  display: flex;
  gap: 50px;
  list-style: none;
  position: relative;
  left: 8%;
}
.header .header-links a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 28px;
}
.header .header-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #00B2A0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header .header-links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header .header-links-media {
  scale: 0;
}
.header .hamburger-menu {
  display: none;
}

section {
  padding: 10% 0;
}

.section-one {
  width: 100%;
  max-height: 800px;
  height: 100vh;
  padding-top: 16%;
  background-image: url(..//img/section-one-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-attachment: fixed;
}
.section-one h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  text-transform: uppercase;
  color: #0D302C;
}
.section-one span {
  margin-bottom: 250px;
  z-index: 2;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.section-one .surfing-board {
  position: absolute;
  bottom: 10%;
}

.section-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.section-two h2 {
  padding: 0 0 5%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #01353E;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.section-two h2 sub {
  display: block;
  font-size: 50px;
  rotate: 18deg;
  translate: 10% 20%;
  color: #00B2A0;
}
.section-two .section-two-paragraph-container {
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  row-gap: 10%;
  -moz-column-gap: 15%;
       column-gap: 15%;
  width: 75%;
}
.section-two .section-two-paragraph-container p {
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
}

.section-three {
  background: #F8F8F8;
  height: 100%;
}
.section-three h2 {
  padding: 0 0 5%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #01353E;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.section-three h2 sub {
  display: block;
  font-size: 50px;
  rotate: 18deg;
  translate: 10% 20%;
  color: #00B2A0;
}
.section-three .section-three-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 100px;
  margin: 0 auto;
}
.section-three .section-three-container .section-three-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.section-three .section-three-container .section-three-info .information {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap-reverse;
}
.section-three .section-three-container .section-three-info .information h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.section-three .section-three-container .section-three-info .information p {
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
}
.section-three .section-three-container .section-three-info .information .living-expenses-heading {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10px;
}
.section-three .section-three-container .section-three-statistics {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap-reverse;
}
.section-three .section-three-container .section-three-statistics .info-paragraph {
  width: 50%;
}
.section-three .section-three-container .section-three-statistics .info-paragraph p {
  margin-bottom: 5%;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
}
.section-three .section-three-container .section-three-statistics .percent-item {
  white-space: nowrap;
}
.section-three .section-three-container .section-three-statistics .percent-item p {
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
}
.section-three .section-three-container .section-three-statistics .percent-item span {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: #242121;
}

.section-four {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  padding-bottom: 0;
  padding-top: 0;
}
.section-four .section-four-img {
  padding-left: 60px;
}
.section-four img {
  width: 100%;
}
.section-four .section-four-text {
  width: 26.2%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin: 0 auto;
}
.section-four .section-four-text h2 {
  margin-bottom: 20%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #01353E;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.section-four .section-four-text h2 sub {
  display: block;
  font-size: 50px;
  rotate: 18deg;
  translate: 10% 20%;
  color: #00B2A0;
}
.section-four .section-four-text p {
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
}
.section-four .section-four-text .text-center {
  margin: 5% 0;
}

.section-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-gallery h2 {
  margin-bottom: 11%;
  align-self: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #01353E;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.section-gallery h2 sub {
  display: block;
  font-size: 50px;
  rotate: 18deg;
  translate: 10% 20%;
  color: #00B2A0;
}
.section-gallery .gallery-links {
  align-self: flex-start;
  display: flex;
  gap: 20px;
  position: absolute;
  top: -40px;
  left: 0;
}
.section-gallery .gallery-links input {
  display: none;
}
.section-gallery .gallery-links span {
  color: #242121;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
}
.section-gallery .gallery-links span:hover {
  color: #00B2A0;
  transition: 0.5s;
}
.section-gallery .gallery-links span .span-checked {
  color: #00B2A0;
}
.section-gallery .flex-item-container {
  width: 100%;
}
.section-gallery .gallery-images {
  display: flex;
  justify-content: center;
  gap: 6.5%;
  height: 605px;
  position: relative;
  right: 55px;
}
.section-gallery .gallery-images .image {
  position: relative;
}
.section-gallery .gallery-images .image:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  background-color: rgba(1, 53, 62, 0.4);
}
.section-gallery .gallery-images .image:hover {
  scale: 1.05;
  transition: 0.7s;
}
.section-gallery .gallery-images .grid-one {
  display: grid;
  grid-template-columns: 250px 290px 290px 254px;
  grid-auto-rows: auto;
  row-gap: 5.5%;
  -moz-column-gap: 3.5%;
       column-gap: 3.5%;
}
.section-gallery .gallery-images .grid-one div img {
  width: 100%;
  height: 100%;
}
.section-gallery .gallery-images .grid-one .item-1 {
  grid-column: 1/3;
}
.section-gallery .gallery-images .grid-one .item-2 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.section-gallery .gallery-images .grid-one .item-2::before {
  width: 100%;
}
.section-gallery .gallery-images .grid-one .item-3 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.section-gallery .gallery-images .grid-one .item-4 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.section-gallery .gallery-images .grid-one .item-5 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.section-gallery .gallery-images .grid-one .item-6 {
  grid-column: 3/5;
  grid-row: 2/3;
}
.section-gallery .gallery-images .grid-media {
  display: none;
}
.section-gallery button {
  font-size: 24px;
  line-height: 18px;
  padding: 25px 25px;
  background-color: white;
  border: 1px solid #C4C4C4;
  max-width: 350px;
  margin-top: 10%;
}
.section-gallery button:hover {
  transform: translateY(-1px);
  scale: 1.04;
  transition: 0.6s ease-in-out;
}
.section-gallery button:active {
  background-color: #00B2A0;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: white;
  transform: translateY(0);
  scale: 0.94;
}

.section-quote {
  background: #F8F8F8;
  padding: 4% 0;
  color: #242121;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.section-quote q {
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
.section-quote span {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  translate: 100%;
}

.video {
  width: 100%;
  max-width: 2200px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto 10%;
  flex-direction: column;
  padding: 0;
}
.video video {
  width: 75%;
  max-height: 630px;
  margin: 10% auto;
}

.indicators {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.indicators p {
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
}
.indicators p span {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #01353E;
}

.blog {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.blog .blog-text-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .swiper {
  width: 100%;
  height: 100%;
}
.blog .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.blog .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgb(255, 255, 255);
}
.blog .swiper-pagination-bullet-active {
  color: #fff;
  background: #00B2A0;
}
.blog h2 {
  margin-bottom: 10%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #01353E;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.blog h2 sub {
  display: block;
  font-size: 50px;
  rotate: 18deg;
  translate: 10% 20%;
  color: #00B2A0;
}
.blog .blog-text {
  max-width: 600px;
  position: absolute;
  translate: 50%;
}
.blog .blog-text h2 {
  color: rgb(255, 255, 255);
  white-space: normal;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 56px;
  text-align: left;
  padding: 0;
  margin: 0;
}
.blog .blog-text p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
}

.team {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.team h2 {
  margin-bottom: 10%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #01353E;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.team h2 sub {
  display: block;
  font-size: 50px;
  rotate: 18deg;
  translate: 10% 20%;
  color: #00B2A0;
}
.team .team-members-container {
  display: flex;
  gap: 110px;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.team .team-members-container .team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  min-width: 100px;
}
.team .team-members-container span {
  color: #242121;
}
.team .team-members-container .member-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.team .popup-message {
  position: fixed;
  z-index: 100;
  bottom: 50px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 0;
}
.team .popup-message button {
  height: 80px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  animation: big-small 1s 5;
}
.team .popup-message button img {
  width: 100%;
  height: 100%;
}
.team .popup-message p {
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
}

@keyframes big-small {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.7;
  }
  100% {
    scale: 1;
  }
}
.service-packages {
  background: #F8F8F8;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.service-packages h2 {
  margin-bottom: 10%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #01353E;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.service-packages h2 sub {
  display: block;
  font-size: 50px;
  rotate: 18deg;
  translate: 10% 20%;
  color: #00B2A0;
}

.tariff-container {
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}
.tariff-container .tariff-item {
  width: 100%;
  height: 580px;
  max-height: 720px;
  max-width: 360px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.tariff-container .tariff-item:active {
  scale: 1.1;
  transition: 0.3s;
}
.tariff-container .tariff-item h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #01353E;
  text-align: center;
  margin: 45px auto 60px;
}
.tariff-container .tariff-item span {
  font-weight: 400;
  margin: 0 0 20px 32px;
  font-size: 14px;
  line-height: 18px;
  color: #242121;
}
.tariff-container .tariff-item .price-container {
  width: 100%;
  height: 100%;
  position: relative;
  word-spacing: 2px;
  text-align: center;
}
.tariff-container .tariff-item .price-container span {
  margin: 0;
  padding: 0;
}
.tariff-container .tariff-item .price {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #01353E;
  text-align: center;
  position: absolute;
  bottom: 45px;
  left: 50%;
  translate: -50% 0;
}

.google-maps {
  padding: 10%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.google-maps img {
  position: absolute;
  left: 50%;
  top: 32%;
}
.google-maps iframe {
  height: 700px;
  width: 100%;
}

.application {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.application h2 {
  margin-bottom: 10%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #01353E;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.application h2 sub {
  display: block;
  font-size: 50px;
  rotate: 18deg;
  translate: 10% 20%;
  color: #00B2A0;
}
.application .application-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.application .application-container .contacts {
  display: flex;
  flex-direction: column;
  gap: 65px;
  padding: 50px 220px 70px 50px;
  background: #F8F8F8;
  max-width: 600px;
  max-height: 460px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #242121;
}
.application .fill {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.application input {
  border: 0;
  border-bottom: 1px solid #DADADA;
  width: 570px;
  height: 50px;
  font-size: 30px;
  outline: none;
  color: #242121;
}
.application input::-moz-placeholder {
  color: #00B2A0;
  border: 0;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 15px;
  height: -moz-fit-content;
  height: fit-content;
}
.application input::placeholder {
  color: #00B2A0;
  border: 0;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 15px;
  height: -moz-fit-content;
  height: fit-content;
}
.application .fill-message {
  position: relative;
  height: 155px;
  border: 0;
  border-bottom: 1px solid #DADADA;
  font-size: 30px;
  outline: none;
  color: #242121;
  resize: none;
}
.application .fill-message::-moz-placeholder {
  position: absolute;
  max-width: 260px;
  white-space: pre-wrap;
  color: #00B2A0;
  font-size: 22px;
  line-height: 22px;
}
.application .fill-message::placeholder {
  position: absolute;
  max-width: 260px;
  white-space: pre-wrap;
  color: #00B2A0;
  font-size: 22px;
  line-height: 22px;
}
.application button {
  font-size: 24px;
  line-height: 18px;
  padding: 25px 0;
  background-color: white;
  border: 1px solid #C4C4C4;
  max-width: 350px;
}
.application button:hover {
  transform: translateY(-1px);
  scale: 1.04;
  transition: 0.6s ease-in-out;
}
.application button:active {
  background-color: #00B2A0;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: white;
  transform: translateY(0);
  scale: 0.94;
}
.application .social-media-links {
  margin: 100px auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 15px;
}
.application .social-media-links a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 28px;
}
.application .social-media-links a {
  color: #242121;
}
.application .social-media-links a:hover {
  color: #00B2A0;
  transition: 0.5s;
}

footer {
  width: 100%;
  background-color: #00B2A0;
  display: flex;
  justify-content: center;
  padding: 1% 0;
}

.modal-window {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 100px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.475);
  border-radius: 15px;
  position: relative;
  z-index: 4;
}
.modal-window .exit {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #C4C4C4;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-window .exit:active {
  background-color: red;
  scale: 0.8;
  transition: 0.5s;
}
.modal-window .exit:active .x {
  background-color: rgb(255, 255, 255);
}
.modal-window .exit:active .x::after {
  background-color: rgb(255, 255, 255);
}
.modal-window .exit .x {
  display: block;
  width: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  rotate: 45deg;
}
.modal-window .exit .x::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  rotate: 90deg;
}
.modal-window p {
  font-size: 31px;
  font-weight: 300;
  color: #0D302C;
}
.modal-window form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-window form input {
  font-size: 30px;
  font-weight: 300;
  border: 0;
  border-bottom: 1px solid #00B2A0;
  height: 70px;
  background-color: rgba(255, 255, 255, 0);
}
.modal-window form input::-moz-placeholder {
  position: absolute;
  color: #023a34;
  font-size: 28px;
}
.modal-window form input::placeholder {
  position: absolute;
  color: #023a34;
  font-size: 28px;
}
.modal-window form button {
  background-color: white;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  padding: 15px 45px;
  font-size: 30px;
  font-weight: 300;
}
.modal-window form button:active {
  scale: 0.95;
  background-color: #00B2A0;
  color: white;
  transition: 0.5s;
}
.modal-window form textarea {
  font-size: 30px;
  font-weight: 300;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #00B2A0;
  resize: none;
}
.modal-window form textarea::-moz-placeholder {
  position: absolute;
  color: #023a34;
  font-size: 28px;
}
.modal-window form textarea::placeholder {
  position: absolute;
  color: #023a34;
  font-size: 28px;
}

.modal-cont {
  background-color: rgba(0, 0, 0, 0.4901960784);
  height: 0;
  width: 0;
  overflow: hidden;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 50%;
  transition: 0.2s;
}/*# sourceMappingURL=style.css.map */