@mixin p-configs{
    font-size: 28px;
    line-height: 32px;
}
@mixin input-configs{
    font-size: 40px;
    line-height: 44px;
}
// ============ Media ============ //
@media(max-width: 1320px){
    .section-four{
        gap: 1%;
        .section-four-img{
            padding-left: 30px;
            margin-left: 60px;
            img{
                width: 100%;
            }
        }
        .section-four-text{
            width: 40%;
            margin-top: 5%;
            h2{
                padding-bottom: 0;
                margin-bottom: 5%;
            }
        } 
    }
    
    .team{
        .team-members-container{
            gap: 0;
            justify-content: space-around;
        }
    }
}

@media(max-width: 1210px){
    .header{
        translate: 0;
    }
    .section-gallery{
        .flex-item-container{
            width: 90%;
            a{
                font-size: 34px;
                line-height: 36px;
            }
        }
        .gallery-images{
            width: 90%;
            height: 100%;
            right: 0;
            .grid-one{
                display: none;
            }
            .grid-two{
                display: none;
            }
            .grid-media{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: auto;
                gap: 35px 35px;
                width: 100%;

                .image{
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .item-1{
                    width: 100%;
                    grid-column: 1 / 3;
                }
            }
        }
        
    }
    .blog{
        .blog-text-image{
            .blog-text{
                translate: 50%;
                width: 500px;
            }
        }
    }
    .application{
        .application-container{
            gap: 0;
            justify-content: space-around;
            .fill{
                width: 40%;
                input{
                    width: 100%;
                }
            }
            .contacts{
                width: 40%;
                gap: 20px;
                padding-left: 5%;
                padding-right: 5%;
                
            }
        }
    }
} 
@media(max-width: 1080px) {
    .section-two{
        .section-two-paragraph-container{
            display: flex;
            flex-direction: column;
            gap: 35px;
        }
    }
    .section-three{
        .section-three-container{
            width: 90%;
        }
    }
    .section-four{
        .img-surfer{
            display: none;
        }
        img{
            display: none;
        }
        .section-four-text{
            h2{
                margin: 0 auto;
                margin-bottom: 5%;
            }
            width: 90%;
            p{
                text-align: center;
            }
        }
    }
    
    .blog{
        .blog-text-image{
            height: 500px;
            gap: 200px;
            .blog-text{
                translate: 0;
            }
        }
    }
    .team{
        padding-top: 10%;
        .team-members-container{
            .team-member{
                margin-bottom: 10%;
            }
        }
    }

}
@media(max-width: 990px){
    .header{
        display: flex;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
        height: 150px;
        .header-links{
            display: none;
        }
        .hamburger-menu{
            display: block;
            position: absolute;
            top: 20px;
            right: 50px;
            .logo{
                display: block;
                width: 120px;
                height: 120px;
                img{
                    widows: 100%;
                    height: 100%;
                }
            }
            #toggle-btn{
                label{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    position: relative;
                    z-index: 2;
                    right: 50px;
                    top: 40px;
                    .one{
                        height: 5px;
                        width: 50px;
                        background-color: white;
                        position: absolute;

                    }
                    .two{
                        content: '';
                        height: 5px;
                        width: 50px;
                        background-color: white;
                        position: absolute;
                        top: 30px;
                    }
                    .three{
                        content: '';
                        height: 5px;
                        width: 50px;
                        background-color: white;
                        position: absolute;
                        top: 15px;
                    }
                }
                input{
                    display: none;
                }
            }
            #nav-bg{
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background-color: #0000006d;
                position: absolute;
                top: 57px;
                right: 25px;
                z-index: 0;
                translate: 50% -50%;
            }
        }
        .header-links-media{
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% 0%;
            scale: 0;
            a{
                font-size: 64px;
                font-weight: 900;
                line-height: 100px;
            }
        }
    }   
    .section-two{
        .section-two-paragraph-container{
            p{
                @include p-configs()
            }
        }
    }
    .section-three{
        .section-three-container{
            width: 100%;
            gap: 40px;
            .section-three-info{
                flex-direction: column;
                align-items: center;
                gap: 35px;
                .information{
                    width: 70%;
                    img{
                        width: 100px;
                    }
                    p{
                        @include p-configs()
                    }
                    h3{
                        font-size: 34px;
                    }
                }
            }
            .section-three-statistics{
                align-items: center;
                flex-direction: column;
                gap: 35px;
                .info-paragraph{
                    width: 70%;
                    p{
                        @include p-configs()
                    }
                }
                .percent-item{
                    img{
                        width: 400px;
                    }
                    span{
                        font-size: 32px;
                    }
                    p{
                        @include p-configs()
                    }
                } 
            }
            
        }
    }
    .section-four{
        .section-four-text{
            p{
                @include p-configs()
            }
        }
    }
    .section-quote{
        q{
            font-size: 46px;
        }
        span{
            translate: 50%;
            width: 100%;
            max-width: fit-content;
            font-size: 20px;
        }
    }
    .video{
        video{
            width: 90%;
            max-height: 900px;
        }
        .indicators{
            p{
                text-align: center;
                @include p-configs()
            }
        }
    }
    .blog{
        .blog-text-image{
            .blog-text{
                max-width: 100%;
                width: 90%;
                h2{
                    width: 90%;
                    font-size: 52px;
                }
                p{
                    @include p-configs()
                }
            }
        }
    }
    .team{
        padding-bottom: 0;
        .team-members-container{
            display: block;
            width: 90%;
            margin: 0 auto;
            .team-member{
                width: 80%;
                margin: 10% auto;
                .name{
                    span{
                        @include p-configs()
                    }
                    .member-name{
                        margin-bottom: 10px;
                        @include input-configs()
                    }
                }
            }
        }
    }
    .service-packages{
        padding-bottom: 10%;
        .tariff-container{
            flex-direction: column;
            align-items: center;
            .tariff-item{
                max-width: 90%;
                width: 90%;
                max-height: 1400px;
                height: 1300px;
                h3{
                    font-size: 56px;
                    line-height: 72px;
                }
                span{
                    font-size: 44px;
                    line-height: 72px;
                }
                .price{
                    font-size: 56px;
                    line-height: 72px;
                }
            }
        }
        
    }
    .google-maps{
        padding: 10% 0;
        display: flex;
        justify-content: center;
        iframe{
            width: 90%;
        }
    }
    .application{
        .application-container{
            flex-direction: column-reverse;
            gap: 100px;
            .fill{
                width: 80%;
                gap: 100px;
                input{
                    height: 100px;
                    &::placeholder{
                        @include input-configs()
                    }
                    @include input-configs()
                }
                .fill-message{
                    max-height: 900px;
                    height: 300px;
                    
                    &::placeholder{
                        max-width: 90%;
                        @include input-configs()     
                    }
                    @include input-configs()
                }
            }
            .contacts{
                width: 80%;
                max-width: 100%;
                max-height: 800px;
                padding-right: 15%;
                padding-left: 10%;
                justify-content: space-between;
                .question-contacts{
                    span{
                        @include input-configs()
                    }
                }
                .contact-number-messengers{
                    span{
                        @include input-configs()
                    }
                    a{
                        @include input-configs()
                    }
                }
                .address{
                    p{
                        @include input-configs()
                    }
                }
            }
        }
    }
}
